body {
    background-color: #000000;
}

.navbar {
    height: 118px;
    color: #FFF;
    background-color: #000;
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.nav {
    margin-top: 137px;
}

.nav .nav-link {
    padding: 19px;
    width: 70px;
    height: 70px;
    margin: auto;
}

.nav .nav-link.active {
    background-color: #D42258;
}

.sidebar {
    background-color: #000000;
    width: 118px;
}

.main-content {
    background-color: #1A1A1A;
    border-radius: 10px 10px 0px 0px;
    margin-right: 76px;
    padding: 46px;
    color: #FFF;
}

.mechanic-title {
    background-color: #3A5040;
    border-radius: 9px;
}

.mechanic-title h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.icon {
    width: 154.06px;
    height: 143.44px;
    background: #7D9683;
    border-radius: 9px;
    padding: 34px 35px 34px 30px;
}